@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,body {
	width: 100%;
	height: 100%;
	
}

/*nav or task bar */
#main{
	background: black;
	width: 100%;
	height: 50px;
	position: fixed;
	

}

/* genral properties of the nav bar elements*/ 

#main nav ul {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}

#main nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 8px;
	line-height: 50px;
}

#main nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	padding: 6px 13px;
	transition: 0.4 all ease-out;
}

#main nav ul li a.active,
#main nav ul li a:hover{
   background: rgb(249, 0, 5);
   color: #fff;
   transition: 0.4s all ease-out;
   border: 3px solid black;
}
/*sign in and log in button*/
.log{
	position: relative;
	left: 2%;
	justify-content: space-around;
	background-color: transparent;
	border: 5px solid black;
	box-shadow: 0px 0px 5px red;
	border-radius: 5px;
	color: white;
	font-family: papyrus;
	cursor: pointer;

}
.log:hover{
	color: red;
}
/*text in the body of home*/
.text {
	transform: translate(-50%,-50%);
	position: absolute;
	top: 54%;
	left: 35%;
}

.text h1 {
	color: black;
	font-size: 90px;
	animation: effects 10s  5s infinite ;

}
/*home background*/
#home{
	background-image: url(background-bunque-1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
} 

/*h1 animation in home*/
@keyframes effects {
	
0%{
	color: red;
	text-shadow: 0px 5px 25px red;
}
100%{
	color: black;
	text-shadow: 0px 0px 0px;
}
}
.text p {
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 2px;
	color: black;


}
#slogan{
	font-style: italic;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 2px;
	color: red;
	font-family: papyrus;
}
/*book an appoinment button in home*/
.btn{
	border: 1px solid black;
	background-color: rgb(249, 0, 5);
	color: white;
	height: 50px;
	width: 260px;
	box-shadow: 5px 5px 5px black;
	border-end-start-radius: 15px;
	border-top-right-radius: 15px;
	position: absolute;
	top: 100%;
	left: 100%;
	cursor: pointer;
}
.btn:hover{
	color: gray;
}

/*style for the various section on the website*/
section{
	min-height: 100vh;
	background-color: maroon;
	color: #fff;
}

section:nth-child(odd){
	background-color: red;
}

/*about section*/
#about{
	background: linear-gradient(#ffffff, red);
}

#a-logo{
	width: 100px;
	height: 100px;
	background-color: #fff;
	border-radius: 150px;
	background-image:url(logo1.png);
	background-position: center;
	background-size: cover;
	border: 5px solid black;
	align-self: center;
	position: relative;
	top: -10%;
	left: -10%;
}
#a-wrapper-1{
	background-color: maroon;
	width: 110px;
	height: 110px;
	border-radius: 150px;
	box-shadow: 0px 0px 25px red;
	
}

#a-wrapper-2{
	background-color: white;
	width: 105px;
	height: 105px;
	border-radius: 150px;
	border: 10px solid white;
	position: relative;
	top: 2.5%;
	left: 2.6%;
	
}
#a-wrapper{
	position: absolute;
	left: 15%;
	bottom: -60%;
	width: 40%;
	height: 50%;
	background-color: black;
	display: flex;
	justify-content: space-around;
	border-radius: 20px;
	overflow: hidden;	
	box-shadow: 0px 0px 55px black;
}


#a1-wrapper{

	position: relative;
	top: 35%;
	transition: background-color 0.3s;
	
}


.about-back{
	position: absolute;
	left: 50%;
	bottom: -80%;
	width: 40%;
	height: 50%;
	background-color: #000000;
	border-radius: 20px;
	color: #fff;
	padding: 25px;
	font-size: 1rem;
	font-family: papyrus;
	border: 5
	px solid maroon;
	
	
}
.about-back:hover{

	background-color: maroon;
	transition: .5s ease-in-out;
	
}
@media (max-width: 768px) {
	.about-back {
		width: 60%;
		height: 30%;
		background-color: aqua;
	}
	#a-wrapper {
		width: 10%;
		height: 30%;
	}
}
.a-button{
	position: relative;
	left: 40%;
	top: 20%;
	background-color: black;
	border: 0;
	color: gray;
	border-radius: 5px;
	width: 120px;
	height: 40px;
	cursor: pointer;
}
.a-button:hover{
	color: red;
}

/* service section*/
#services{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	background: #222;
	margin: 0;
	

}

.s-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 60px 0;
	gap: 60px;

}


.s-container .s-box{
	position: relative;
	width: 300px;
	height: 350px;
	background-color: #2e2e22;
	display: flex;
	justify-content: center;
	align-items: center;
}



.s-container .s-box .s-content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	padding: 0 20px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.s-container .s-box .s-content .s-icon{
	color: var(--clr);
	width: 80px;
	height: 80px;
	box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	background: #2e2e2e;
	transition: 0.5s ease-in-out;
}

.s-container .s-box:hover .s-content .s-icon{
	background:var(--clr);
	color:  #2e2e2e;
	box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 300px var(--clr);
}

.s-container .s-box .s-content .s-text h3{
	font-size: 1.5em;
	color: #fff;
	font-weight: 500;
	transition: 0.5s ease-in-out;
}
.s-container .s-box .s-content .s-text p{
	color: #999;
	transition: 0.5s ease-in-out;
}

.s-container .s-box:hover .s-content .s-text h3, .s-container .s-box:hover .s-content .s-text p{
	color: #2e2e2e;
}

.s-container .s-box .s-content .s-text a{
	position: relative;
	background: var(--clr);
	color: #2e2e2e;
	padding: 8px 15px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	transition: 0.5s ease-in-out;
}

.s-container .s-box:hover .s-content .s-text a{
	background: #2e2e2e;
	color:var(--clr) ;
}

/*responsive menu bar*/
.checkbtn{
	font-size: 30px;
	color: red;
	cursor: pointer;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	margin-top: -10px;
	display: none;

}

#menu-bar{
	display: none;
}
/*faqs section*/
#faqs{
	font-family: 'Poppins',sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #f5f8ff;
	color: #000;
}
.f-container{
	margin: 0.40px;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.f-container h1{
	color: #333;
}

.f-container .f-tab{
	position: relative;
	background: #ffffff;
	padding: 0 20px 20px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .05);
	border-radius: 5px;
	overflow: hidden;
}
.f-container .f-tab input{
	appearance: none;

}
.f-container .f-tab label{
	display: flex;
	align-items: center;
	cursor: pointer;

}

.f-container .f-tab label::after
{
	content: '+';
	position: absolute;
	right: 20px;
	font-size: 2em;
	color: rgba(0, 0, 0, .1);
	transition: transform 1s;
	
}

.f-container .f-tab:hover label::after{
	color: #333;
}

.f-container .f-tab input:checked ~ label::after{
	transform: rotate(135deg);
	color: #fff;
	

}

.f-container .f-tab label h2{
	width: 40px;
	height: 40px;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.25em;
	border-radius: 5px;
	margin: 10px;
}

.f-container .f-tab input:checked ~ label h2{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 color: rgba(255, 255, 255, 0.2);
 font-size: 8em;
 justify-content: flex-end;
 padding: 20px;
}

.f-container .f-tab:nth-child(2) label h2{
	background: linear-gradient(135deg, rgb(87, 2, 2), rgb(241, 101, 101));
}

.f-container .f-tab:nth-child(3) label h2{
	background: linear-gradient(135deg, rgb(87, 2, 2), rgb(241, 101, 101));
}

.f-container .f-tab:nth-child(4) label h2{
	background: linear-gradient(135deg, rgb(87, 2, 2), rgb(241, 101, 101));
}

.f-container .f-tab:nth-child(5) label h2{
	background: linear-gradient(135deg, rgb(87, 2, 2), rgb(241, 101, 101));
}
.f-container .f-tab label h3{
	position: relative;
	font-weight: 500;
	color: #333;
	z-index: 10;
}

.f-container .f-tab input:checked ~ label h3{
 background: #fff;
 padding: 2px 10px;
 color: #333;
 border-radius: 2px;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

}

.f-container .f-tab .f-content-1{
	max-height: 0;
	transition: 1s;
	overflow: hidden;
}

.f-container .f-tab input:checked ~ .f-content-1{
	max-height: 100vh;
}

.f-container .f-tab .f-content-1 p{
	position: relative;
	padding: 10px 0;
	color: #333;
	z-index: 10;
}

.f-container .f-tab input:checked ~ .f-content-1 p{
	color: #fff;
}
/*Contact section*/
.contact-container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}
#contact-form{
	background: white;
	
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
	border: 2px solid black;

}
#contact-form h3{
	color: maroon;
	font-weight: 800;
	margin-bottom: 20px;
}

#contact-form input, #contact-form textarea{
	border: 2px solid black;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16px;
	color: #000;
	border-radius: 5px;
}
#contact-form button{
	padding: 15px;
	background: red;
	color: #fff;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 30px;
}

#contact-form button:hover{
	color: maroon;
}

.contact-footer	{
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #000;
	bottom: 0%;
	
	font-size: 1.5rem;
	display: flex;
	justify-content: space-around;
	
}
.contact-footer a{
	color: gray;
}
.contact-footer a:hover{
	color: red;
}
/*media query of menu bar*/
@media(max-width:991px) {
	
	.checkbtn{
		display: block;
	}

	ul{
		position: absolute;
		width: 100%;
		height: 30vh;
		background-color: transparent;
		backdrop-filter: blur(30px);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	
	
   header .navbar ul li {
		width: 100%;
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	#main nav ul li a  {
		font-size: 20px;
		color: black;
		
	}
	#main nav ul li a.active,
#main nav ul li a:hover{
	background: none;
	color: red;
	border: 0px;
}

#menu-bar:checked ~ ul{
	left: 0;
}

}
